# Archivos ignorados predeterminados
/shelf/
/workspace.xml
# Archivos ignorados por Rider
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.NumberOrganizer.iml
# Solicitudes de cliente HTTP basadas en editor
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
